* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-button: 220;
    --secondary-button: 80;
    --accent-button: 270;

    --bckg: hsl(195, 5%, 15%);
    --text-color: hsl(0, 0%, 100%);
}

#reset-button {
    position: absolute;
    top: 0;
    right: 5px;
    visibility: hidden;
    font-size: 1.75em;
    background: none;
    color: var(--text-color);
    cursor: pointer;
}

main {
    background-color: var(--bckg);
    transition: 1s all;
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin: 0 auto;
    height: 20vh;
    width: calc(100% - 50vw);
}

.container p {
    max-width: 350px;
    margin: 0 auto;
    font-size: 2.5rem;
    text-align: center;
}

.actions {
    max-width: 350px;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    transition: none;
}

.btn-round {
    padding: 2em;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-round:first-child {
    background-color: hsl(var(--primary-button), 100%, 50%)
}

.btn-round:nth-of-type(2) {
    background-color: hsl(var(--secondary-button), 100%, 50%)
}

.btn-round:last-child {
    background-color: hsl(var(--accent-button), 100%, 50%)
}
